services:

    Abc\JobServerBundle\Controller\JobController:
        public: true
        arguments:
            - '@abc.job.base_job_controller'

    Abc\JobServerBundle\Controller\RouteController:
        public: true
        arguments:
            - '@abc.job.base_route_controller'

    abc.job.base_job_controller:
        class: Abc\Job\Controller\JobController
        public: true
        arguments:
            - '@abc.job.job_server'
            - '@abc.job.validator'
            - '@logger'

    abc.job.base_route_controller:
        class: Abc\Job\Controller\RouteController
        public: true
        arguments:
            - '@abc.job.route_registry'
            - '@abc.job.validator'
            - '@logger'

    Abc\Job\Model\JobManagerInterface:
        alias: 'abc.job.job_manager'

    abc.job.job_manager:
        class: 'Abc\Job\Doctrine\JobManager'
        public: true
        arguments:
            - '@doctrine.orm.entity_manager'
            - 'Abc\Job\Model\Job'

    Abc\Job\Model\RouteManagerInterface:
        alias: 'abc.job.route_manager'

    abc.job.route_manager:
        class: 'Abc\Job\Doctrine\RouteManager'
        arguments:
            - '@doctrine.orm.entity_manager'

    abc.job.job_server:
        class: Abc\Job\JobServer
        public: true
        arguments:
            - '@abc.job.producer'
            - '@Abc\Job\Model\JobManagerInterface'
            - '@logger'

    abc.job.validator:
        class: Abc\Job\Validator

    abc.job.producer:
        class: Abc\Job\Interop\Producer
        arguments:
            - '@abc.job.driver'

    abc.job.route_registry:
        alias: 'abc.job.setup_broker_route_registry'

    abc.job.setup_broker_route_registry:
        class: Abc\Job\Broker\SetupBrokerRouteRegistry
        arguments:
            - '@abc.job.driver'
            - '@abc.job.managed_route_registry'

    abc.job.managed_route_registry:
        class: Abc\Job\Broker\ManagedRouteRegistry
        arguments:
            - '@Abc\Job\Model\RouteManagerInterface'
            - '@logger'

    abc.job.reply_consumer:
        class: Abc\Job\Interop\ReplyConsumer
        public: true
        arguments:
            - '@abc.job.reply_processor'
            - '@logger'
        tags:
            - { name: 'enqueue.transport.processor', processor: 'job_reply' }

    abc.job.reply_processor:
        class: Abc\Job\ReplyProcessor
        arguments:
            - '@abc.job.job_server'
            - '@Abc\Job\Model\JobManagerInterface'
            - '@logger'

    abc.job.process_reply_command:
        class: 'Abc\Job\Symfony\Command\ProcessReplyCommand'
        arguments:
            - '@enqueue.transport.consume_command'
        tags:
            - { name: 'console.command' }
